* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'poppins';
    background-color: #000000 !important;
}
header{
    background-color: #000000;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
}
.navbar {
    background-color: #000000; 
    position: fixed;
}
.navbar-brand h1{
    margin-left: 25px;
    color: #9D98FF;
    text-decoration: none;
    font-size: 24px;
}
#navbarNav{
    margin-right: 15px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.nav-item a{
    color: white;
}
.nav-item a:hover {
    color: #6aff9b;
}
.nav-item a:focus {
    color: #6aff9b;
}
section{
    padding: 100px 20px;
}

.content-section {
    background-color: #2F333C;
    color: white;
    height: auto;
}
h2 {
    color: #9D98FF;
    font-weight: normal;
}

#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#home > div {
    width: 100%;
    text-align: center;
}
.home-left {
    text-align: left;
    font-size: 30px;
    margin: 30px;
    padding-left: 10px;
}
.home-left-text{
    padding-left: 100px;
    padding-bottom: 10px;
}
.home-right img {
    width: 80%;
    border-radius: 20%;
}
.namecolor {
    color: #9D98FF;
}
.social-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    align-items: center;
}
.social-links a i {
    display: block;
    text-decoration: none;
    justify-content: space-between;
    float: left;
    color: #9D98FF;
    padding-right: 10px;
}
.social-links :hover {
    color: #6aff9b;
}
#element {
    display: inline-block;
}

#about .about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.about-text {
    padding: 10px 100px;
    text-indent: 50px;
    text-align: justify;
}
.about-text-b {
    text-align: justify;
}
.about-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: nowrap;
    margin-top: 100px;
    padding-left: 100px;
}

#project {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#project span {
    color: #5AF08C;
    font-size: 18px;
}
video {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

.vid {
    width: 100%;
}

#tools {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.logo-container {
    display: flex;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center; 
}
.logo-container img {
    width: 150px;
}

#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: 1250px;
}

.contact-main-sub1 {
    width: 50%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
label {
    color: #9D98FF;
    float: left;
}
input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 200px;
    resize: none;
    float: none;
}
button {
    padding: 10px;
    background-color: #6aff9b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #6aff9b;
}

.contact-main-sub2 {
    width: 50%;
    height: 100%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
}

.contact-main-sub2 span {
    color: #6aff9b;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.center-text {
    text-align: center;
}
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 50px;
}
.contact-info-item {
    width: 100%;
    margin: 10px;
}
.contact-info-item i {
    text-decoration: none;
    color: #9D98FF;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    gap: 10px;
}
.contact-text {
    color: white;
    text-decoration: underline;
    font-size: 20px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F333C;
    color: white;
    padding: 20px;
    margin-bottom: 25px;
}
footer a {
    color: #6aff9b;
    text-decoration: none;
    display: block;
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
    body {
        background-color: #464E61; /* You can keep the same background for mobile */
    }
    nav {
        flex-direction: column;
        /* padding: 10px; */
    }
    .nav-left a h1 {
        font-size: 24px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    section {
        padding: 100px 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .content-section {
        margin: 10px;
    }
    .title{
        font-size: 18px;
    }
    .sub-title{
        font-size: 12px;
    }
    #home {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    #home .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-left {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
    }
    .home-left-text{
        width: 100%;
        padding-left: 0px;
        padding-bottom: 30px;
    }
    .textc2{
        width: 100%;
        font-size: 15px;
    }
    .home-right img {
        width: 90%;
        margin-top: 50px;
    }
    
    #element {
        white-space: nowrap;
    }
    .about-text {
        padding: 10px;
        font-size: 12px;
        text-align: justify;
    }
    .about-details {
        margin-top: 0px;
        padding-left: 20px;
        font-size: 12px;
    }
    #project {
        flex-direction: column;
        align-items: center;
    }
    .logo-container {
        margin: 20px;
        padding: 20px;
        height: auto;
    }
   #project video {
        width: 100% !important;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .w-50 {
        width: 100% !important;
    }
    .contact-main {
        flex-direction: column;
        width: 100%;
    }
    .contact-main-sub1, .contact-main-sub2 {
        width: 100%;
        padding-left: 20px;
    }
    .contact-info {
        padding-left: 0px;
    }
    .contact-info-item {
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .contact-text {
        font-size: 14px;
    }
    footer {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
}
